<a href="https://colab.research.google.com/github/Tiffany-Kate-Evangelista/DSA-58010/blob/main/Python_Module_(9_7_2022).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Example 1

In [3]:
import array

array.typecodes #to get all typecodes

a = array.array('i', [1, 2, 3, 4, 5, 6]) #initializing array "a"
b = array.array('f', [1.5, 2.5, 3.5, 4.5, 5.5, 6.5]) #initializing array "b"

print (a.typecode) #getting the typecode of "a"
print (b.typecode) #getting the typecode of "b"

i
f

Example 2 - Create and convert the elements of array A to float/decimal number

In [6]:
A = array.array('f',[1,2,3,4,5,6,7,8,9,10]) #initializing elements of array "A"
print(A)

array('f', [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0])

Example 3

In [9]:
from array import array #importing array from array module

a = array('i', [4,5,6,7]) #initializing array
a.insert (1,2) #inserting element: 2 at index: 1
print (a) #printing array a

array('i', [4, 2, 5, 6, 7])

In [11]:
from array import array #importing array from array module

a = array('i', [4,2,5,6,7]) #initializing array
a.insert (-1,0) 
print (a) #printing array a

array('i', [4, 2, 5, 6, 0, 7])

In [12]:
from array import array #importing array from array module

a = array('i', [4,2,5,6,7]) #initializing array
a.insert (10, -1) 
print (a) #printing array a

array('i', [4, 2, 5, 6, 7, -1])

Linked List

Example 1

In [14]:
#Node class

class Node:
  def __init__(self, data):  #function to initialize the node project
    self.data = data #Assign data
    self.next = None #initialize next as null
    
#LinkedList class

class LinkedList:
  def __init__(self):  #function to initialize the Linked
    self.head = None  #list object

In [19]:
#from Mam Sayo
#function that creates node object

class Node:
  def __init__(self,data):
    self.data = data    # assign data
    self.next = None    # initialize as null

#function that creates Linked-list object

class LinkedList:
  def __init(self):
    self.head = None   #initialize head as null

In [20]:
#function that creates node object

class Node:
  def __init__(self,data):
    self.data = data    # assign data
    self.next = None    # initialize as null

#function that creates Linked-list object

class LinkedList:
  def __init(self):
    self.head = None   #initialize head as null

  def printList(self):
    temp = self.head
    while(temp!=None):
      print(temp.data)
      temp = temp.next

list = LinkedList()    #empty list
list.head = Node(1)
second = Node(2)
third = Node(3)
fourth = Node(4)

list.head.next=second
second.next = third
third.next = fourth

list.printList()

1
2
3
4